
body {
	color: purple;
	background-color: #F1FAA5;
}

#new_item {
	border-radius: 5px;
	width: 250px;
}
.remove {
	color: blue;
	margin-left: 200px;
}
.hyperbole {
	align: center;
	margin: 50px auto;
	border-radius: 20px;
}
input {
	border-radius: 5px;
}
button {
	border-radius: 5px;
}
.btn-sm {
	height: 20px;
	text-align: center;
	line-height: 10px;
	background-color: #F1FAA5;
	color: purple;
}
label {
	color: purple;
}