// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	color: purple;
	background-color: #F1FAA5;
}

#new_item {
	border-radius: 5px;
	width: 250px;
}
.remove {
	color: blue;
	margin-left: 200px;
}
h2 {

}